node_modules
**/node_modules

# Required for the async_init_with_node_modules unit test
!test/handlers/async_init_with_node_modules/node_modules

build
**/build

dist
**/dist

.idea
**/.idea

package-lock.json
**/package-lock.json

.git
.DS_STORE