{
  "parserOptions": {
    "ecmaVersion": 2022
  },
  "extends": [
    "plugin:prettier/recommended"
  ],
  "env": {
    "node": true,
    "mocha": true,
    "es6": true
  },
  "rules": {
    "strict": [
      "error",
      "global"
    ],
    "indent": [
      "error",
      2
    ],
    "camelcase": "error",
    "no-console": "off",
    "no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_"
      }
    ]
  }
}