name: test-on-push-and-pr

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ '*' ]

jobs:
  unit-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        node-version: [18, 20, 22]
    
    steps:
    - uses: actions/checkout@v5
    - name: Build and run tests for Node.js ${{ matrix.node-version }}
      run: |
        docker build -f test/unit/Dockerfile.nodejs${{ matrix.node-version }}.x -t unit/nodejs.${{ matrix.node-version }}x .
        docker run unit/nodejs.${{ matrix.node-version }}x


